<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define the targets to write to -->
	<targets>
		<!-- Write logs to a file in the program directory -->
		<target name="logfile" xsi:type="File" fileName="${basedir}/logfile.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Define rules to map loggers to targets -->
	<rules>
		<!-- All logs from Debug level and above will be written to the logfile -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>

</nlog>
